---
layout: default
---
<div class="container">
  <section class="row">
    <div class="col-sm-12">
      <img src="img/logo-02.png" alt="logo" class="img-responsive center-block logo">
    </div>
  </section>
  <div class="row">
    <div class="col-sm-12">
      {% include bingo.html %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {% include cards.html %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center" style="padding:50px 0;">
      {% include last-round.html %}
    </div>
  </div>
  
</div>