<hr>
<section id="bingo">
  <h1 class="text-center">Bingo</h1>
  <p class="description lead">
    Penjelasan: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, sint maiores qui vitae soluta necessitatibus nesciunt repudiandae itaque fugit molestias. Laborum, tempore ab modi laudantium soluta repudiandae omnis ducimus doloremque!
  </p>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active start-bingo">
        <img src="img/bg/bingostart-05.png">
      </div>
      {% for question in site.data.bingo %}
      <div class="item">
        <div class="question-container">
          <h3 style="margin-top:0"><b class="text-success">BINGO Question No. {{forloop.index}}</b></h3>
          <hr>
          <p class="question clearfix">
            {% if question.img %}
              <img src="img/soal/{{question.img}}" class="pull-left">
            {% endif %}
            {{question.question}}
          </p>
          <ol class="multiplechoices">
            {% for choice in question.choices%}
              <label>
                <input type="checkbox" value="" class="{{choice.class}}">
                <span>{{choice.option}}</span>
              </label>
            {% endfor %}
          </ol>
        </div>
      </div>
      {% endfor %} 
    </div>
  
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="fa fa-chevron-circle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>