<hr style="margin-top:400px;">
<section id="cards" class="cards">
  <h1 class="text-center">Cards</h1>
  <p class="description lead">
    Power up cards dan penjelasannya dibawah :
  </p>
  <div class="thumbnails">
    <div class="control">
      <a href="#" class="btn btn-primary" data-filter="*:not(.mama)">show all</a>
      <a href="#" class="btn btn-primary" data-filter=".score">Score Manipulator</a>
      <a href="#" class="btn btn-primary" data-filter=".card">Card Manipulator</a>
      <a href="#" class="btn btn-primary" data-filter=".etc">ETC</a>
      <a href="#" class="btn btn-primary" data-filter=".mama">Mama Shop</a>
    </div>
    <div class="grid">
      {% for card in site.data.cards %}
        <div class="element-item {{card.classCategory}}">
          <a href="img/cards/hires/{{card.hires}}" data-lightbox="example-1" data-title="{{card.name}} - {{card.caption}}"><!-- img/card/hires/ -->
            <img src="img/cards/thumbs/{{card.thumb}}" alt="A Placeholder image" /><!-- img/cards/thumbs/ -->
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section><!--/.featured-works-->