<hr>
<section id="charade" class="text-center">
  <h2>Round 2: Charades</h2>
  <p class="lead">How good are you at pantomime?</p>
  <a href="#" class="btn btn-primary btn-lg" id="start">Start</a>
  <div class="circle">
    <div id="timer" class="h3" style="margin:0;"></div>
  </div>
  {% for categories in site.data.charades %}
  <div id="charade-{{forloop.index}}"class="carousel slide hide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for category in categories.category %}
      <div class="item {% if forloop.index == 1 %} active category-title{% endif %}">
        {% if forloop.index == 1 %}
          <span>{{category.item}}</span>
        {% endif %}
        {% if forloop.index != 1%}
        <label>
          <input type="checkbox" value="" class="true">
          <span>{{category.item}}</span>
        </label>
        <div class="carousel-caption">{{forloop.index | minus:1}} of {{forloop.length | minus:1}}</div>
        {% endif %}
      </div>
      {% endfor %} 
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#charade-{{forloop.index}}" role="button" data-slide="prev">
      <span class="fa fa-chevron-circle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#charade-{{forloop.index}}" role="button" data-slide="next">
      <span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {% endfor %}
</section>