<section id="last-round"><hr>
  <h1 class="text-center">Final Round</h1>
  <p class="description lead">
    Are you ready for some Bible trivia?
  </p>
  {% for question in site.data.questions-1-essay %}
  <a href="#" class="btn btn-success btnRound btn-lg" data-toggle="modal" data-target="#soal{{forloop.index0 | plus: 1}}">{{forloop.index0 | plus: 1}}</a>
  <div class="modal fade" id="soal{{forloop.index0 | plus: 1}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {% if question.bonus == "yes" %}
            {% include bonusround.html %}
          {% endif %}
          <h4 class="title bg4">
            <span class="score" data-score="60">60</span> 
            <span class="id">{{forloop.index0 | plus: 1}}.</span> 
            <span class="type">Essay/Open Ended Question</span>
          </h4>
          <p class="question clearfix">
            {% if question.img %}
              <img src="img/soal/{{question.img}}" class="pull-left">
            {% endif %}
            {{question.question}}
          </p>
          <div class="hide">
            {{question.answer}}
          </div>
          <div class="hide">
            {% if question.remarks %}
              <span class="label label-success">Remarks: </span><br>
              {{question.remarks}}
            {% endif %}
          </div>
          <hr>
          <p>And the judge says, your answer is…</p>
          <ol class="multiplechoices">
            <label>
              <input type="checkbox" value="" class="false">
              <span><span class="label label-danger">x0</span> Incorrect!</span>
            </label>
            <label>
              <input type="checkbox" value="" class="true">
              <span><span class="label label-warning">x0.5</span> Good</span>
            </label>
            <label>
              <input type="checkbox" value="" class="true">
              <span><span class="label label-success">x1</span> Satisfactory</span>
            </label>
          </ol>
          {% include cardslot.html %}
        </div>
        <div class="modal-footer">
          <button type="button" class="visible-xs btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- /.modal -->
  {% include utilities/pyramid-breaks-1.html %}
  
  {% endfor %}
  
  {% for question in site.data.questions-2-blanks %}
  <a href="#" class="btn btn-primary btnRound btn-lg" data-toggle="modal" data-target="#soal{{forloop.index0 | plus: 7}}">{{forloop.index0 | plus: 7}}</a>
  <div class="modal fade" id="soal{{forloop.index0 | plus: 7}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {% if question.bonus == "yes" %}
            {% include bonusround.html %}
          {% endif %}
          <h4 class="title bg3">
            <span class="scored" data-score="20">20</span> 
            <span class="id">{{forloop.index0 | plus: 7}}.</span> 
            <span class="type">Fill in the blanks</span>
          </h4>
          <p class="question clearfix">
            {% if question.img %}
              <img src="img/soal/{{question.img}}" class="pull-left">
            {% endif %}
            {{question.question}}
          </p>
          <p class="hide"><span class="label label-success">{{question.answer}}</span></p>
          <div class="hide">
            {% if question.remarks %}
              <span class="label label-success">Remarks: </span><br>
              {{question.remarks}}
            {% endif %}
          </div>
          <hr>
          <p>And the judge says, your answer is…</p>
          <ol class="multiplechoices">
            <label>
              <input type="checkbox" value="" class="false">
              <span>Incorrect!</span>
            </label>
            <label>
              <input type="checkbox" value="" class="true">
              <span>Correct!</span>
            </label>
          </ol>
          
          {% include cardslot.html %}
        </div>
        <div class="modal-footer">
          <button type="button" class="visible-xs btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- /.modal -->
  {% include utilities/pyramid-breaks-2.html %}
  
  {% endfor %}
  
  {% for question in site.data.questions-3-MCQ %}
  <a href="#" class="btn btn-warning btnRound btn-lg" data-toggle="modal" data-target="#soal{{forloop.index0 | plus: 22}}">{{forloop.index0 | plus: 22}}</a>
  <div class="mcq modal fade" id="soal{{forloop.index0 | plus: 22}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {% if question.bonus == "yes" %}
            {% include bonusround.html %}
          {% endif %}
          <h4 class="title bg2">
            <span class="score" data-score="10">10</span> 
            <span class="id">{{forloop.index0 | plus: 22}}.</span> 
            <span class="type">Multiple Choice Question</span>
          </h4>
          <p class="question clearfix">
            {% if question.img %}
              <img src="img/soal/{{question.img}}" class="pull-left">
            {% endif %}
            {{question.question}}
          </p>
          <div class="hide">
            {% if question.remarks %}
              <span class="label label-success">Remarks: </span><br>
              {{question.remarks}}
            {% endif %}
          </div>
          <ol class="multiplechoices">
            {% for choice in question.choices%}
              <label>
                <input type="checkbox" value="" class="{{choice.class}}">
                <span>{{choice.option}}</span>
              </label>
            {% endfor %}
          </ol>
          {% include cardslot.html %}
        </div>
        <div class="modal-footer">
          <button type="button" class="visible-xs btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- /.modal -->
  {% include utilities/pyramid-breaks-3.html %}
  
  {% endfor %}
  
  
  {% for question in site.data.questions-4-true-false %}
  <a href="#" class="btn btn-danger btnRound btn-lg" data-toggle="modal" data-target="#soal{{forloop.index0 | plus: 37}}">{{forloop.index0 | plus: 37}}</a>
  <div class="truefalse modal fade" id="soal{{forloop.index0 | plus: 37}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {% if question.bonus == "yes" %}
            {% include bonusround.html %}
          {% endif %}
          <h4 class="title bg1">
            <span class="score" data-score="5">5</span> 
            <span class="id">{{forloop.index0 | plus: 37}}.</span> 
            <span class="type">True of False</span>
          </h4>
          <p class="question clearfix">
            {% if question.img %}
              <img src="img/soal/{{question.img}}" class="pull-left">
            {% endif %}
            {{question.question}}
          </p>
          <div class="hide">
            {% if question.remarks %}
              <span class="label label-success">Remarks: </span><br>
              {{question.remarks}}
            {% endif %}
          </div>
          <ol class="multiplechoices">
            {% for choice in question.choices%}
              <label>
                <input type="checkbox" value="" class="{{choice.class}}">
                <span>{{choice.option}}</span>
              </label>
            {% endfor %}
          </ol>
          {% include cardslot.html %}
        </div>
        <div class="modal-footer">
          <button type="button" class="visible-xs btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- /.modal -->
  {% endfor %}
</section>

<div class="modal fade" id="bonus">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Bonus List</h4>
      </div>
      <div class="modal-body">
        <div class="dice"></div>
        <ol>
          <li>Main satu giliran lagi</li>
          <li>Ambil 1 kartu yang sudah dipakai dari tim sendiri</li>
          <li>Reset score jadi 0 kalau score total minus</li>
          <li>Unlock Mama Shop! / Bonus point 50% untuk soal ini</li>
          <li>Ambil satu kartu random dari common card deck</li>
          <li>Beri tim lain kesempatan untuk lempar dadu</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->