<section class="row">
    <div class="col-sm-12 text-center">
      <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#soal1">1</a>
      <div class="modal fade" id="soal1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h4 class="title"><span class="score pull-right">100</span> <span class="id">1.</span> <span class="type">Multiple Choice Question</span></h4>
              <p class="question">2+2 = ? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, fuga porro magni possimus dolores suscipit expedita blanditiis exercitationem rem voluptates. Asperiores, odio explicabo exercitationem sed accusantium pariatur a nisi magni?</p>
              <ol class="choices">
                <li class="checkbox">
                  <label>
                    <input type="checkbox" value="" class="false">
                    <span>16, Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
                  </label>
                </li>
                <li class="checkbox">
                  <label>
                    <input type="checkbox" value="" class="false">
                    <span>17, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, possimus, nisi.</span>
                  </label>
                </li>
                <li class="checkbox">
                  <label>
                    <input type="checkbox" value="" class="true">
                    <span>4, Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                  </label>
                </li>
                <li class="checkbox">
                  <label>
                    <input type="checkbox" value="" class="false">
                    <span>10, Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                  </label>
                </li>
              </ol>
            </div>
            <div class="chance">
              <a href="#" class="btn btn-primary text-left">Use Card</a>
              <div class="chance-options">
                <ul class="list-unstyled text-left">
                  <li class="checkbox"><label><input type="checkbox"> God of Gambler</label></li>
                  <li class="checkbox"><label><input type="checkbox"> God of Gambler</label></li>
                  <li class="checkbox"><label><input type="checkbox"> Insurance Agent</label></li>
                  <li class="checkbox"><label><input type="checkbox"> Fifty-fifty</label></li>
                  <li class="checkbox"><label><input type="checkbox"> Rosary</label></li>
                  <li class="checkbox"><label><input type="checkbox"> Absolution</label></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.modal -->
      <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#soal2">2</a>
      <div class="modal fade" id="soal2">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h4 class="title"><span class="score pull-right">50</span> <span class="id">2.</span> <span class="type">True/False Question</span></h4>
              <p class="question">2+2 = 8 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, fuga porro magni possimus dolores suscipit expedita blanditiis exercitationem rem voluptates. Asperiores, odio explicabo exercitationem sed accusantium pariatur a nisi magni?</p>
              <ol class="choices">
                <li class="checkbox">
                  <label>
                    <input type="checkbox" value="" class="false">
                    <span>True </span>
                  </label>
                </li>
                <li class="checkbox">
                  <label>
                    <input type="checkbox" value="" class="true">
                    <span>False</span>
                  </label>
                </li>
              </ol>
            </div>
            <div class="chance">
              <a href="#" class="btn btn-primary text-left">Use Card</a>
              <div class="chance-options">
                <ul class="list-unstyled text-left">
                  <li class="checkbox"><label><input type="checkbox"> God of Gambler</label></li>
                  <li class="checkbox"><label><input type="checkbox"> God of Gambler</label></li>
                  <li class="checkbox"><label><input type="checkbox"> Insurance Agent</label></li>
                  <li class="checkbox"><label><input type="checkbox"> Fifty-fifty</label></li>
                  <li class="checkbox"><label><input type="checkbox"> Rosary</label></li>
                  <li class="checkbox"><label><input type="checkbox"> Absolution</label></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.soal -->
      <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#soal3">3</a>
      <div class="modal fade" id="soal3">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h4 class="title"><span class="score pull-right">150</span> <span class="id">3.</span> <span class="type">Fill the blanks Question</span></h4>
              <p class="question">Lorem ipsum dolor sit amet, consectetur ....... Totam, fuga porro magni possimus dolores suscipit expedita blanditiis exercitationem rem voluptates. Asperiores, odio explicabo exercitationem sed accusantium pariatur a nisi magni?</p>
            </div>
            <div class="chance">
              <a href="#" class="btn btn-primary text-left">Use Card</a>
              <div class="chance-options">
                <ul class="list-unstyled text-left">
                  <li class="checkbox"><label><input type="checkbox"> God of Gambler</label></li>
                  <li class="checkbox"><label><input type="checkbox"> God of Gambler</label></li>
                  <li class="checkbox"><label><input type="checkbox"> Insurance Agent</label></li>
                  <li class="checkbox"><label><input type="checkbox"> Fifty-fifty</label></li>
                  <li class="checkbox"><label><input type="checkbox"> Rosary</label></li>
                  <li class="checkbox"><label><input type="checkbox"> Absolution</label></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.soal -->
    </div><!-- /.span -->
  </section>