<section id="testing">
  <h4 class="text-center">Test Round</h4>
  <p class="description lead">Familiarize yourself with the game and use your card for this round! All cards will be returned back to you!</p>
  {% for testQuestion in site.data.test-1-essay %}
  <a href="#" class="btn btn-success btnRound btn-lg" data-toggle="modal" data-target="#test{{forloop.index0 | plus: 1}}">{{forloop.index0 | plus: 1}}</a>
  <div class="modal fade" id="test{{forloop.index0 | plus: 1}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {% if testQuestion.bonus == "yes" %}
            {% include bonusround.html %}
          {% endif %}
          <h4 class="title bg4">
            <span class="score" data-score="60">60</span> 
            <span class="id">{{forloop.index0 | plus: 1}}.</span> 
            <span class="type">Essay/Open Ended Question</span>
          </h4>
          <p class="question clearfix">
            {% if testQuestion.img %}
              <img src="img/soal/{{testQuestion.img}}" class="pull-left">
            {% endif %}
            {{testQuestion.question}}
          </p>
          <div class="hide">
            {{testQuestion.answer}}
          </div>
          <div class="hide">
            {% if testQuestion.remarks %}
              <span class="label label-success">Remarks: </span><br>
              {{testQuestion.remarks}}
            {% endif %}
          </div>
          <hr>
          <p>And the judge says, your answer is…</p>
          <ol class="multiplechoices">
            <label>
              <input type="checkbox" value="" class="false">
              <span><span class="label label-danger">x-1</span> Incorrect!</span>
            </label>
            <label>
              <input type="checkbox" value="" class="true">
              <span><span class="label label-warning">x0.5</span> Good</span>
            </label>
            <label>
              <input type="checkbox" value="" class="true">
              <span><span class="label label-success">x1</span> Satisfactory</span>
            </label>
          </ol>
          {% include cardslot.html %}
        </div>
        <div class="modal-footer">
          <button type="button" class="visible-xs btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- /.modal -->
  
  
  {% endfor %}
  <br>
  {% for testQuestion in site.data.test-2-blanks %}
  <a href="#" class="btn btn-primary btnRound btn-lg" data-toggle="modal" data-target="#test{{forloop.index0 | plus: 2}}">{{forloop.index0 | plus: 2}}</a>
  <div class="modal fade" id="test{{forloop.index0 | plus: 2}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {% if testQuestion.bonus == "yes" %}
            {% include bonusround.html %}
          {% endif %}
          <h4 class="title bg3">
            <span class="scored" data-score="20">20</span> 
            <span class="id">{{forloop.index0 | plus: 2}}.</span> 
            <span class="type">Fill in the blanks</span>
          </h4>
          <p class="question clearfix">
            {% if testQuestion.img %}
              <img src="img/soal/{{testQuestion.img}}" class="pull-left">
            {% endif %}
            {{testQuestion.question}}
          </p>
          <p class="hide"><span class="label label-success">{{testQuestion.answer}}</span></p>
          <div class="hide">
            {% if testQuestion.remarks %}
              <span class="label label-success">Remarks: </span><br>
              {{testQuestion.remarks}}
            {% endif %}
          </div>
          <hr>
          <p>And the judge says, your answer is…</p>
          <ol class="multiplechoices">
            <label>
              <input type="checkbox" value="" class="false">
              <span>Incorrect!</span>
            </label>
            <label>
              <input type="checkbox" value="" class="true">
              <span>Correct!</span>
            </label>
          </ol>
          
          {% include cardslot.html %}
        </div>
        <div class="modal-footer">
          <button type="button" class="visible-xs btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- /.modal -->
  
  
  {% endfor %}
  <br>
  {% for testQuestion in site.data.test-3-MCQ %}
  <a href="#" class="btn btn-warning btnRound btn-lg" data-toggle="modal" data-target="#test{{forloop.index0 | plus: 4}}">{{forloop.index0 | plus: 4}}</a>
  <div class="mcq modal fade" id="test{{forloop.index0 | plus: 4}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {% if testQuestion.bonus == "yes" %}
            {% include bonusround.html %}
          {% endif %}
          <h4 class="title bg2">
            <span class="score" data-score="10">10</span> 
            <span class="id">{{forloop.index0 | plus: 4}}.</span> 
            <span class="type">Multiple Choice Question</span>
          </h4>
          <p class="question clearfix">
            {% if testQuestion.img %}
              <img src="img/soal/{{testQuestion.img}}" class="pull-left">
            {% endif %}
            {{testQuestion.question}}
          </p>
          <div class="hide">
            {% if testQuestion.remarks %}
              <span class="label label-success">Remarks: </span><br>
              {{testQuestion.remarks}}
            {% endif %}
          </div>
          <ol class="multiplechoices">
            {% for choice in testQuestion.choices%}
              <label>
                <input type="checkbox" value="" class="{{choice.class}}">
                <span>{{choice.option}}</span>
              </label>
            {% endfor %}
          </ol>
          {% include cardslot.html %}
        </div>
        <div class="modal-footer">
          <button type="button" class="visible-xs btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- /.modal -->
  
  
  {% endfor %}
  
  
  {% for testQuestion in site.data.test-4-true-false %}
  <a href="#" class="btn btn-danger btnRound btn-lg" data-toggle="modal" data-target="#test{{forloop.index0 | plus: 6}}">{{forloop.index0 | plus: 6}}</a>
  <div class="truefalse modal fade" id="test{{forloop.index0 | plus: 6}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {% if testQuestion.bonus == "yes" %}
            {% include bonusround.html %}
          {% endif %}
          <h4 class="title bg1">
            <span class="score" data-score="5">5</span> 
            <span class="id">{{forloop.index0 | plus: 6}}.</span> 
            <span class="type">True of False</span>
          </h4>
          <p class="question clearfix">
            {% if testQuestion.img %}
              <img src="img/soal/{{testQuestion.img}}" class="pull-left">
            {% endif %}
            {{testQuestion.question}}
          </p>
          <div class="hide">
            {% if testQuestion.remarks %}
              <span class="label label-success">Remarks: </span><br>
              {{testQuestion.remarks}}
            {% endif %}
          </div>
          <ol class="multiplechoices">
            {% for choice in testQuestion.choices%}
              <label>
                <input type="checkbox" value="" class="{{choice.class}}">
                <span>{{choice.option}}</span>
              </label>
            {% endfor %}
          </ol>
          {% include cardslot.html %}
        </div>
        <div class="modal-footer">
          <button type="button" class="visible-xs btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- /.modal -->
  {% endfor %}
</section>