<section id="wordsearch" class="text-center">
  <h1>Word Search</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, distinctio nemo sed ullam assumenda numquam beatae veritatis expedita accusantium maiores. Quos, architecto officiis iure eius nulla. Atque, esse sed. Blanditiis.</p>
  <a href="img/cards/hires/SaintMotherTheodoreGuerinPressPhoto.jpg" data-lightbox="word-search"><!-- img/card/hires/ -->
    <img src="img/cards/thumbs/SaintMotherTheodoreGuerinPressPhoto.jpg" alt="A Placeholder image" /><!-- img/cards/thumbs/ -->
  </a>
  <a href="img/cards/hires/200px-Pietro_Novelli_Our_Lady_of_Carmel_and_Saints.JPG" data-lightbox="word-search" class="hide"><!-- img/card/hires/ -->
    <img src="img/cards/thumbs/200px-Pietro_Novelli_Our_Lady_of_Carmel_and_Saints.JPG" alt="A Placeholder image" /><!-- img/cards/thumbs/ -->
  </a>
</section>