<section id="wordsearch" class="text-center">
  <h1>Round 1 : Word Search</h1>
  <p class="lead">Do you want a member of Material Ministry in your team? Now is the time to fight for one!</p>
  <a href="img/ws/ws-01.jpg" data-lightbox="word-search"><!-- img/card/hires/ -->
    <img src="img/wordsearch.png" class="img-responsive center-block" alt="A Placeholder image" /><!-- img/cards/thumbs/ -->
  </a>
  <a href="img/ws/ws-02.jpg" data-lightbox="word-search" class="hide hidden-answer"><!-- img/card/hires/ -->
    <img src="img/wordsearch.png" class="img-responsive center-block" alt="A Placeholder image" /><!-- img/cards/thumbs/ -->
  </a>
  <a href="img/ws/ws-03.jpg" data-lightbox="word-search" class="hide hidden-answer"><!-- img/card/hires/ -->
    <img src="img/wordsearch.png" class="img-responsive center-block" alt="A Placeholder image" /><!-- img/cards/thumbs/ -->
  </a>
  <!-- answer -->
  <a href="img/ws/wordsearch-01.jpg" data-lightbox="word-search-answer" class="hide"><!-- img/card/hires/ -->
    <img src="img/wordsearch.png" class="img-responsive center-block" alt="A Placeholder image" /><!-- img/cards/thumbs/ -->
  </a>
  <a href="img/ws/wordsearch-02.jpg" data-lightbox="word-search-answer" class="hide hidden-answer"><!-- img/card/hires/ -->
    <img src="img/wordsearch.png" class="img-responsive center-block" alt="A Placeholder image" /><!-- img/cards/thumbs/ -->
  </a>
  <a href="img/ws/wordsearch-03.jpg" data-lightbox="word-search-answer" class="hide hidden-answer"><!-- img/card/hires/ -->
    <img src="img/wordsearch.png" class="img-responsive center-block" alt="A Placeholder image" /><!-- img/cards/thumbs/ -->
  </a>
</section>