$btn-size:65px;
#last-round{
  .modal-dialog{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    @media(min-width:481px){
      width:90%;
    }
    @media(min-width:768px){
      width:80%;
    }
    @media(min-width:992px){
      width:70%;
    }
    @media(min-width:1200px){
      width:60%;
    }
  }

  .modal-content{
    box-shadow:none;
    border-radius:0;
    background:transparent;
    border-width:0;
  }
  .modal-body{
    color:#fff;
    font-size:26px;
    text-align: left;
    @media(max-width:580px){
      font-size:16px;
    }
    >.alert{
      margin-bottom:0;
      border-bottom-right-radius:0;
      border-bottom-left-radius:0;
    }
    hr{
      border-color:#636363;
    }
  }
  .modal-footer{
    border:none;
  }
}
.modal-backdrop {
  background-color: #000000;
  &.in{
    opacity:0.8;
  }
}



.title{
  position: relative;
  padding:30px;
  padding-right:80px;
  margin-top: 0;
  &:before{
    content:"";
    display:block;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background:rgba(0,0,0,0.5);
  }
  span{
    position: relative;
  }
  .score,.scored{
    position: absolute;
    right:15px;
    top:50%;
    transform: translateY(-50%);
    font-weight: bold;
    background:$brand-warning;
    border-radius:50%;
    line-height: 50px;
    width: 50px;
    text-align: center;
  }
  &.bg1{
    background: url(../img/bg/1.png) 50% 0 no-repeat;
    background-size: cover;
  }
  &.bg2{
    background: url(../img/bg/2.png) 50% 0 no-repeat;
    background-size: cover;
  }
  &.bg3{
    background: url(../img/bg/3.png) 50% 0 no-repeat;
    background-size: cover;
  }
  &.bg4{
    background: url(../img/bg/4.png) 50% 0 no-repeat;
    background-size: cover;
  }
}

.multiplechoices{
  list-style-type:lower-latin;
  label{
    display:list-item;
  }
  input[type=checkbox]{
    display:none;
  }
  input[type=checkbox].true:checked + span{
    color:$brand-success;
  }
  input[type=checkbox].false:checked + span{
    color:$brand-danger;
    text-decoration: line-through;
  }
}

.chance-options{
  ul{
    columns:3;
    color:#fff;
  }
  li{
    font-size: 1.3em;
  }
  li:first-child{
    margin-top: 0;
  }
  input[type=checkbox]{
    margin-top:6px;
  }
}

.type{
  text-transform: uppercase;
}

.info{
  display:block;
  margin-top: 10px;
  font-size: 18px;
  .one,.two{
    color:#fff;
    display:inline-block;
    background:$brand-primary;
    padding:5px 10px;
    border-radius:3px;
    &:empty{
      padding:0;
    }
  }
}

#last-round .btnRound{
  border-radius:50%;
  padding:0;
  line-height: $btn-size - 4;
  width:$btn-size;
  @media(max-width:640px){
    line-height: ($btn-size*0.8) - 4;
    width:$btn-size*0.8;
  }
}

#last-round>br{
  @media(max-width:510px){
    display:none;
  }
}

.retain{
  background: $brand-success !important;
}


.passed{
  position: relative;
  overflow: hidden;
  &:after{
    content: '\f00c';
    font-family: 'FontAwesome';
    display:block;
    position: absolute;
    top:50%;
    left:50%;
    background:inherit;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
    line-height: 50px;
    border-radius:50%;
    font-size: 1.6em
  }
}

.question>img{
  padding-right:20px;
}

label:hover{
  cursor:pointer;
}

#bonus{
  font-size: 1.6em;
  .modal-body{
    text-align: left;
  }
}

.cardslot{
  text-align: center;
}

#bonus{
  .modal-header{
    color:#fff;
    background:$brand-warning;
    border-bottom:none;
  }
  .dice{
    height: 250px;
    background:url(../img/bg/dice.png) no-repeat 50% 0;
    background-size:cover;
    margin:-20px;
    margin-bottom:20px;
  }  
}

