@import "cards";

body{
  font-family: 'Lato','Open Sans', sans-serif;
  background: url('../img/bg-03.png') no-repeat 0 50%;
  background-size: auto;
  height:100vh;
}

.logo{
  margin-top:30px;
  margin-bottom:30px;
}

.modal-dialog{
  width: 60%;
  font-family: 'Montserrat', sans-serif;
}

.modal-content{
  box-shadow:none;
  border-radius:0;
  background:transparent;
  border-width:0;
}
.modal-body{
  color:#fff;
  font-size:26px;
  text-align: left; 
}
.modal-backdrop {
  background-color: #000000;
  &.in{
    opacity:0.8;
  }
}

.choices{
  list-style-type:lower-latin;
  li.checkbox{
    display:list-item;
    label{
      vertical-align: top;
    }
  }
  input[type=checkbox]{
    display:none;
  }
  input[type=checkbox].true:checked + span{
    color:green;
  }
  input[type=checkbox].false:checked + span{
    color:red;
    text-decoration: line-through;
  }
}

.chance-options{
  ul{
    columns:3;
    color:#fff;
  }
  li{
    font-size: 1.3em;
  }
  li:first-child{
    margin-top: 0;
  }
  input[type=checkbox]{
    margin-top:6px;
  }
}

.type{
  text-transform: uppercase;
}